
.topnav {
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
}

.leftTopNav, .rightTopNav {
	display: inline-block;
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.leftTopNav {
	width: 5%;

}

.leftTopNav button, .rightTopNav button {
	border: none;
	background: none
}






/*
.leftTopNav {
	display: inline-block;
	padding: 10px;
	border: 1px solid black;
	
}

.leftTopNav button {
	border: none;
	background: none;
}

.rightTopNav {
	float: right;
	padding: 10px;
	border: 1px solid black;
}

.rightTopNav button {
	border: none;
	background: none;
	position: relative;
	top: -9.5px;
} */

.apps {
	padding: 8px;
}

.container {
	position: absolute;
	top: 36%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* border: 1px solid black; */

}

.logo {
	display: flex;
	justify-content: center;
}

.searchbar {
	position: relative;
	top: 25px;
	/* border: 1px solid black; */


	
}

#form {
	border: 1px solid black;
	border-radius: 25px;
	opacity: 0.2;
	width: 580px;
	height: 45px;
	display: flex;
	align-items: center;
}

#form img {
	margin-left: 10px;
}

#query {
	width: 85%;
	border: none;
	outline: none; 	/*removes square outline */
	padding-left: 30px;
	font-size: 16px; 
}


.searchbutton {
	position: relative;
	top: 50px;
	/* display: flex; */
	/* justify-content: space-evenly; */
	/* border: 1px solid black; */
	text-align: center;

}

.searchbutton button {
	font-size: 15px;
	padding: 10px;
	margin-left: 3px;
}

	
