.container {
	position: absolute;
	top: 36%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* border: 1px solid black; */

}

.logo {
	display: flex;
	justify-content: center;
}

.searchbar {
	position: relative;
	top: 25px;
	/* border: 1px solid black; */
	border-color: grey;
	
}

#query {

	width: 580px;
	height: 45px;
	border-radius: 25px;
	outline: none; 	/*removes square outline */
	background-image: url('outline_search_black_24dp.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 30px;
	
	font-size: 16px; 
}


.searchbutton {
	position: relative;
	top: 50px;
	display: flex;
	justify-content: space-evenly;
	/* border: 1px solid black; */

}

.searchbutton button {
	font-size: 15px;
	padding: 10px;
}

	
